---
name: Run PDK validate

on:
  - push
  - pull_request

permissions: read-all

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
    - name: Clone repository
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Run pdk validate
      # Modified puppets-epic-show-theatre with gcc and make installed
      uses: ericsson/action-pdk-validate@buildtools
