name: Run PDK tests on Puppet 8.x

on:
  - push
  - pull_request

permissions: read-all

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Clone repository
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

    - name: Run unit tests
      # Modified puppets-epic-show-theatre with gcc and make installed
      uses: ericsson/action-pdk-test-unit@buildtools
      with:
        puppet-version: "8"
